.floor-wrap{
  background-color: #ffea00;
  min-height: 800px;
}

.floor-main{
  .floor-title{
    background-repeat: no-repeat;
    background-position: center center;
  }
  img{
    padding: 0;
    margin: 0;
  }
  .z-thumb{
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
  .z-desc{
    background-color: #85543b;
    color: #FFF;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  .z-pro-first{
    width: 346px;
    position: absolute;
    .z-thumb{
      width: 346px;
      height: 414px;
    }
    .z-desc{
      height: 90px;
      font-size: 26px;
      line-height: 36px;
      text-indent: 30px;
      p{
        padding-top: 5px;
      }
    }
  }
  .pro-list-u{
    width: (204px*3);
    li{
      float: left;
      width: 196px;
      margin-left: 8px;
      margin-bottom: 10px;
    }
    .z-thumb{
      width: 196px;
      height: 196px;
    }
    .z-desc{
      height: 51px;
      font-size: 14px;
      line-height: 20px;
      text-indent: 10px;
      p{
        padding-top: 5px;
      }
    }
  }
}

.z-pro-wrap{
  position: relative;
}
.floor-1{
  .floor-title{
    height: 48px;
    background-image: url(./images/floor-1-title.png);
  }
}
