.z-head{
  height: 703px;
  background: #ff79ab url(./images/topbg.jpg) no-repeat center bottom;
  transition:all 3s;
  animation: animatedBackground 20s linear infinite;
  .z-ban{
    height: 552px;
    background: url(./images/banner.png) no-repeat center 40px;

  }
}

@keyframes animatedBackground {
  10% { background-position: 0 bottom; }
  50% { background-position: 100% bottom; }
  100% { background-position: 0 bottom; }
 }
